<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="UserWidgetsDefault" value="[{WidgetType:1,Order:0,PlaceholderOrder:2},{WidgetType:3,Order:0,PlaceholderOrder:3},{WidgetType:2,Order:0,PlaceholderOrder:5},{WidgetType:4,Order:1,PlaceholderOrder:5},{WidgetType:7,Order:2,PlaceholderOrder:5},{WidgetType:12,Order:3,PlaceholderOrder:5},{WidgetType:5,Order:0,PlaceholderOrder:6},{WidgetType:10,Order:1,PlaceholderOrder:6},{WidgetType:8,Order:2,PlaceholderOrder:6},{WidgetType:11,Order:3,PlaceholderOrder:6},{WidgetType:14,Order:4,PlaceholderOrder:6},{WidgetType:6,Order:0,PlaceholderOrder:7},{WidgetType:9,Order:1,PlaceholderOrder:7},{WidgetType:13,Order:2,PlaceholderOrder:7},{WidgetType:15,Order:3,PlaceholderOrder:7},{WidgetType:16,Order:0,PlaceholderOrder:8}]"/>
    </settings>
  </sitecore>
</configuration>
